<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ContainerResourceId>/subscriptions/bc730b60-8119-4db0-8384-e07787b774ab/resourcegroups/TestUpload/providers/Microsoft.ContainerRegistry/registries/UploadMicroService2a</ContainerResourceId>
    <ContainerResourceName>UploadMicroService2a</ContainerResourceName>
    <Subscription>Visual Studio Enterprise Subscription</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>uploadmicroservice2a.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/bc730b60-8119-4db0-8384-e07787b774ab/resourcegroups/TestUpload/providers/Microsoft.Web/sites/UploadMicroService2a</ResourceId>
    <ResourceGroup>TestUpload</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://uploadmicroservice2a.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SCMUrl>https://uploadmicroservice2a.scm.azurewebsites.net/</SCMUrl>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>286d4556-ae88-49bf-b631-6f3c47c86cf2</ProjectGuid>
    <TargetFramework>netcoreapp3.1</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>